.question-title {
    font-size: 1.3rem;
}

.question-option {
    font-size: 1.1rem;
}

.question-option-container {
    cursor: pointer;
}

.question-number {
    font-size: 1.2rem;
}

.active {
    background-color: #e0e0e0;
    color: rgb(60, 60, 60) !important;
}